lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.env

npm-debug.log
node_modules

tmp/*
!tmp/readme

public/xiaoxiong/_att/thumbnail/*
!public/xiaoxiong/_att/thumbnail/readme

public/xiaoxiong/_att/editor/*
!public/xiaoxiong/_att/editor/readme

public/xiaoxiong/_att/cover/*
!public/xiaoxiong/_att/cover/readme


