extends layout

append head

append body
    .container-fluid
        h1 添加地址
        form#create-addr-form(role="form")
            input(type="hidden", name="user_open_id", value="#{user_open_id}")
            .form-group
                label(for="name") 收货人
                input.form-control(type="text", name="name", value="", required)
            .form-group
                label(for="tel") 电话
                input.form-control(type="number", name="tel", value="", required)
            .form-group
                label(for="area") 地区
                input.form-control(type="text", name="area", placeholder="深圳", value="深圳", required)
            .form-group
                label(for="detail") 详细地址
                input.form-control(type="text", name="detail", value="", required)
            button.btn.btn-primary.btn-block(type="submit") 提交

append script
    script(src="/xiaoxiong/js/create_addr.js")