extends layout

append var

append head

append body
    .container-fluid
        h1 添加地址
        form#create-addr-form(role="form")
            input(type="hidden", name="open_id", value="#{open_id}")
            .form-group
                label(for="userName") 收货人
                input.form-control(type="text", name="userName", value="", data-warning="请填写收货人", required)
            .form-group
                label(for="telNumber") 电话
                input.form-control(type="tel", name="telNumber", value="", data-warning="请填写电话", required)
            .form-group
                label(for="addressCitySecondStageName") 市
                input.form-control(type="text", name="addressCitySecondStageName", value="深圳", disabled)
            .form-group
                label(for="addressCountiesThirdStageName") 区
                select.form-control(name="addressCountiesThirdStageName")
                    - each stageName in addressCountiesThirdStageName
                        option(value="#{stageName}") #{stageName}
            .form-group
                label(for="addressDetailInfo") 详细地址
                input.form-control(type="text", name="addressDetailInfo", data-warning="请填写详细地址", value="", required)
            button.btn.btn-primary.btn-block(type="submit", data-loading-text="提交中...") 提交

append script
    script(src="/xiaoxiong/js/create_addr.js")