.cart 
    span.label.label-warning.no-product 请选菜品
    .have-product.hidden.bg-success
        | 购物车有
        span.amount 
        | 件商品, 共
        span.price 
        | 元
        a.btn.btn-primary.gap-left(href="/xiaoxiong/cart-page/#{open_id}") 去结算