extends layout

append head

append body
    .container-fluid
        h1 欢迎来到小熊农场
        .row
            .col-md-1 1
            .col-md-1 2
            .col-md-1 3
            .col-md-1 4
            .col-md-1 5
            .col-md-1 6
            .col-md-1 7
            .col-md-1 8
            .col-md-1 9
            .col-md-1 10
            .col-md-1 11
            .col-md-1 12
        .row
            .col-xs-12.col-md-8 8
            .col-xs-6.col-md-4 4
        .row
            .col-xs-6.col-md-4 4
            .col-xs-6.col-md-4 4
            .col-md-4 4
        .row
            .col-xs-6 6
            .col-xs-6 6