doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description", content="当日新鲜的蔬菜切好、配好送到家")
        meta(name="author", content="扉页软件")
        // Mobile Metas
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="/vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css", rel="stylesheet")
        title 小熊农场
        block head
    body
        block body
        block script
            script(src="/vendor/jquery/jquery-2.1.0.min.js")
            script(src="/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js")
            script(src="/xiaoxiong/js/app.js")