extends layout

append head

append body
    .container-fluid
            h3(data-openid="#{user_open_id}") 今日菜谱
            - if (menu)
                .row
                    - each recipe in menu.recipes
                        .thumbnail
                            img(src="#{recipe.thumbnail}")
                            .caption
                                h3 #{recipe.title}
                                    span.label.label-info.pull-right 现价：#{(recipe.price / 100).toFixed(2)} 元
                                p
                                    button.btn.btn-primary.btn-sm  加入购物车
            - else
                .alert.alert-warning 今日暂无供应
append script